body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    background-color: rgb(241, 241, 241);
}
.attention{
    margin: auto;
    width: 1200px;
    background-color: #ffffff;
    text-align: center;
    border: 3px solid;
    border-color: rgb(255, 0, 0);
}
article{
    margin: auto;
    width: 1200px;
}
.index{
    margin: auto;
    background-color: rgba(189, 255, 255, 0.753);
}
.mr90{
    margin-right: 70px;
}