body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    width: 1000px;
    background-color: rgb(241, 241, 241);
}
.attention{
    width: 800px;
    background-color: #ffffff;
    text-align: center;
    border: 3px solid;
    border-color: rgb(255, 0, 0);
}
article{
    background-color: rgba(189, 255, 255, 0.753);
    margin: auto;
    width: 800px;
}