body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    background-color: rgb(248, 248, 248);
    width: auto;
}
h1{
    text-align: center;
    font-size: 36px;
}
h2{
    font-size: 30px;
}
.attention{
    margin: 30px auto;
    width: 850px;
    background-color: #ffffff;
    text-align: center;
    padding: 0.5em 1em;
    border: double 5px #ff5252;
}
.midashi{
    color: #3262ff;
}
article{
    margin: 30px auto;
    width: 850px;
}
.index{
    margin: 30px auto;
    padding: 0.5em 1em;
    color: #000000;
    background: rgb(255, 255, 255);
    border-left: double 7px #4cdaec;
}
/*経歴*/
.keireki{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}
.careertop{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: #95ccff;
    padding: 1px 0;
    margin: 100px 0;
}
.hights{
    position: relative;
    margin: 2em 0;
    padding: 30px 35px;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: #ffffff;
}
.hights .box-title{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
.keiretsu{
    padding: 0.5em 1em;
    margin: 50px 0 100px 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.univer{
    position: relative;
    margin: 2em 0;
    padding: 30px 35px;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-color: #ffffff;
}
.univer .box-title{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
.mr30{
    margin-right: 30px;
}
.kuhaku{
    margin-right: 5px;
}
details{
    margin-bottom: 20px;
}
summary{
    margin-bottom: 5px;
}
/*趣味*/
.hobbytop{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: #dbfd5d;
    padding: 1px 0;
    margin: 100px 0;
}
.ereki{

}
.game{

}
.anima{

}
.pc{
    
}
/*おすすめ*/
.recommen{

}
/*他のページに移動*/
.move{
    width: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}