body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    background-color: rgb(241, 241, 241);
    width: auto;
}
h1{
    text-align: center;
    font-size: 36px;
}
h2{
    font-size: 30px;
}
.attention{
    margin: 30px auto;
    width: 850px;
    background-color: #ffffff;
    text-align: center;
    padding: 0.5em 1em;
    border: double 5px #ff5252;
}
.midashi{
    color: #3262ff;
}
article{
    margin: 30px auto;
    width: 850px;
}
.index{
    margin: 30px auto;
    padding: 10px 0px 15px 20px;
    background-color: rgba(189, 255, 255, 0.753);
}
.keireki{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}
.mr30{
    margin-right: 30px;
}
.kuhaku{
    margin-right: 5px;
}
details{
    margin-bottom: 20px;
}
summary{
    margin-bottom: 5px;
}
/*趣味*/
.ereki{

}
.game{

}
.anima{

}
.pc{
    
}
/*おすすめ*/
.recommen{

}
/*他のページに移動*/
.move{
    width: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}